<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.steven.zhihu.dao.ICommonDao">
    <insert id="addPaging" parameterType="org.steven.zhihu.model.Paging" useGeneratedKeys="true" keyProperty="id">
        insert into paging(is_end,current,next,previous) values(#{is_end},#{current},#{next},#{previous})
    </insert>


    <insert id="addTable" parameterType="org.steven.zhihu.model.Table" >
        insert into
        zhihu(seq,id,verb,action_text,created_time,excerpt,url,title,question_excerpt,answer_count,date_time)
        values(#{seq},#{id},#{verb},#{action_text},#{created_time},#{excerpt},#{url},#{title},#{question_excerpt},#{answer_count},#{date_time})
    </insert>
</mapper>